h1 {
    background:green;
    text-decoration:underline;
    color:white;
    
}




ol {
    background:pink;
}

p { 
    color:blue;
    background:white;
}

body {
    
    background-color:yellow;
  

}

#bar {
  
  background-color:green;
}

#mark {
  
 text-decoration:underline;
 
}


#vac {
 text-decoration:underline; 
}

.hobbies {
  background:white;
}
  
   #vermont {
  background-color:white;
 }
  
                                                                                                                             